*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo {
    line-height: 60px;
    padding: 15px 0;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 70px;
    border-bottom: 1px solid #e1e1e1;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.banner1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.solucoes-div {
    margin-left: 340px;
    margin-right: 340px;
}

.solucoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.solucoes-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    font-family: "Work Sans", Arial, Tahoma, sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    color: #161922;
    margin-bottom: 20px;
}


p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 15px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    color: #626262;
    text-align: center;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-family: "Work Sans", Arial, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    color: #161922;
    margin-bottom: 0px;
}

.botao-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #e1e1e1;
    color: #333333!important;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0;
    padding: 6px 20px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}

.noticias {
    margin-left: 340px;
    margin-right: 340px;

}

.box-noticias {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 2% 0;
    box-sizing: border-box;
    display: table;
    width: 100%;
    min-height: 130px;
    height: 100%;
}

.data-noticia {
    display: flex;
    align-items: left;
    width: 75px;
    height: 100%;
    overflow: hidden;
    font-size: 24px;
    text-align: center;
    display: table-cell;
    float: left;
}

.data-dia {
    background: #333333;
    color: #fff;
    height: 54px;
    width: 100%;
    float: left;
    display: block;
    position: relative;
    font-size: 30px
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.data-mes {
    background: #ebebeb;
    color: #333;
    text-transform: uppercase;
    height: 54px;
    width: 100%;
    float: left;
    display: block;
    position: relative;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    font-weight: bold;
}

.titulo-noticia {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 29px;
    letter-spacing: 0px;
    font-family: "Work Sans", Arial, Tahoma, sans-serif;
    color: #161922;
    margin-left: 85px;
}

.resumo-noticia {
    display: flex;
    align-items: left;
    margin-left: 85px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    color: #626262;
    font-size: 14px;
}

.depoimentos-template-img {
    margin-top: 5%;
}
